<div class="row">
    <div class="container">
        @if(User.IsInRole("Admin"))
        {
            <div class="form-group row col-2" id="doctorList">

                <label>Select Developer</label>
                @Html.DropDownList("doctorId",new SelectList(ViewBag.DevList,"Id","Name"),new{@class="form-control select2"})
                </div>
        }

        <div id="calendar">

        </div>
    </div>
</div>
